* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  background: #232946;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  color: #fffffe;
  font-weight: 700;
  font-size: 3rem;
  padding: 4rem 0rem;
}

.textcolor {
  color: #b8c1ec;
}

.btncolor {
  background: #eebbc3;
  color: #232946;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 450px;
  height: 20rem;
  background: #b8c1ec;
  border-radius: 10px;
  border: 3px solid #eebbc3;
  padding: 14px 0px;
}

.loginForm {
  min-width: 20rem;
  width: 75%;
  height: 90%;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loginButton {
  font-family: 'Montserrat', sans-serif;
  padding: 0.7em 1.5em;
  border: 2px solid #eebbc3;
  border-radius: 10px;
  font-weight: 700;
  font-size: large;
  width: 100%;
  margin-top: 1.5rem;
  background-color: #232946;
  color: #eebbc3;
  white-space: nowrap;
}

.loginButton:hover {
  color: #232946;
  background-color: #eebbc3;
  box-shadow: 0px 0px 10px 2px #232946;
  transition: 0.3s ease-in;
}

#username,
#password,
#confirmPassword {
  font-size: 1.2rem;
  margin: 0.6rem;
  padding: 0.6em 0.5em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #232946;
  width: 100%;
}

#username:focus,
#password:focus,
#confirmPassword:focus {
  outline: none;
  border-bottom: 2px solid #eebbc3; 
}

#username::placeholder,
#password::placeholder
#confirmPassword::placeholder {
  color: #232946;
  font-size: 1.2rem;
}

#loginHelper {
  color: #232946;
  font-size: 1.1rem;
  margin-top: 1rem;
}


/* toggle for login/signup */
#toggleSwitch {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 20rem;
  min-height: 2rem;
  background: #fffffe;
  border-radius: 4px;
  border: 2px solid #eebbc3;
}