.Game {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  height: 5%;
  width: 100%;
  background-color: #eebbc3;
}

nav {
  display: flex;
  width: 45%;
  height: 100%;
  justify-content: flex-end;
}
.navlist {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav ul li {
  color: #fffffe;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

.logoutBtn {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1.2rem;
  background-color: #eebbc3;
  border-radius: 10px;
  border: 2px solid #fffffe;
  color: #fffffe;
  font-weight: 600;
  text-shadow: 2px 2px #232946;
}

.logoutBtn:hover {
  background-color: #232946;
  text-shadow: none;
  border: 2px solid #232946;
}

.gameTitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  color: #fffffe;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

main {
  height: 95%;
  width: auto;
}

.mainGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 100% / 10% 90%;
}

.sidebar {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #b8c1ec;
}

.sidebarItem {
  width: 100%;
  height: 50px;
  background: #232946;
  border: 0px;
  color: #fffffe;
}

.skillList {
  height: 60%;
  width: 100%;
  padding: 0;
  list-style: none;
}

.skillBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 0px;
  background: #232946;
  color: #fffffe;
  font-size: 1rem; 
  transition: .4s ease-in-out;
}

.skillBtn:hover {
  background: #eebbc3;
  text-shadow: 1px 1px #232946;
}


.actionBtn {
  height: 18rem;
  width: 20rem;
  cursor: pointer;
  background: #b8c1ec;
  border: 1rem 0 solid #232946;
  color: #232946;
  font-size: 1.2rem;
  border-radius: 5px;
}


.woodcuttingSkillContainer {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.expBar {
  grid-row: 1 / 1;
  grid-column: 1 / 5;
  border: 2px solid #eebbc3;
}

.woodcuttingExp {
  
}

#normalLogBtn {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}