.Game {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

/* common classes */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.hw100 {
  height: 100%;
  width: 100%;
}

.shadowedContainer {
  background: #232946;
  box-shadow: 5px 5px 8px black;
  border-radius: 5px;
}
/* end of common classes */

header {
  display: flex;
  justify-content: space-between;
  height: 5%;
  width: 100%;
}

nav {
  display: flex;
  height: 100%;
  width: 10%;
  justify-content: center;
}

nav ul li {
  color: #fffffe;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

main {
  height: 95%;
  width: auto;
}

.mainGrid {
  overflow: auto;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 100% / 10% 90%;
  background-image: url(../../../assets/idlegamebg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  position: sticky;
  top: 0px;
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #232946;
  opacity: 85%;
}

.sidebarLabel {
  display: flex;
  align-items: center;
  color: #fffffe;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  cursor: default;
}

.sidebarItem {
  width: 100%;
  height: 50px;
  background: #232946;
  border: 0px;
  color: #fffffe;
}

.sidebarIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.noSelectedSkill {
  color: #fffffe;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.skillList {
  height: 60%;
  width: 100%;
  padding: 0;
  list-style: none;
}

.skillBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 0px;
  background: #232946;
  color: #fffffe;
  text-rendering: optimizeLegibility;
  transition: .4s ease-in-out;
}

.skillBtn:hover {
  color: #232946;
  background: #eebbc3;
  font-size: 1rem;
}

.flexGrouper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
