.Game {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  height: 5%;
  width: 100%;
  background-color: #eebbc3;
}

nav {
  display: flex;
  width: 45%;
  height: 100%;
  justify-content: flex-end;
}
.navlist {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav ul li {
  color: #fffffe;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

.logoutBtn {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1.2rem;
  background-color: #eebbc3;
  border-radius: 10px;
  border: 2px solid #fffffe;
  color: #fffffe;
  font-weight: 600;
  text-shadow: 2px 2px #232946;
}

.logoutBtn:hover {
  background-color: #232946;
  text-shadow: none;
  border: 2px solid #232946;
}

.gameTitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  color: #fffffe;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

main {
  height: 95%;
  width: auto;
}

.mainGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 100% / 10% 90%;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8c1ec;
}

.skillList {
  padding: 0;
  list-style: none;
}