.Game {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 5%;
  width: 100%;
}

#skillMenuTitle {
  color: #fffffe;
  font-size: 1.3rem;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

nav {
  display: flex;
  height: 100%;
  width: 10%;
  justify-content: center;
}
.navlist {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav ul li {
  color: #fffffe;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

.logoutBtn {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  border: 0px;
  color: #fffffe;
  background: #232946;
  font-weight: 600;
  transition: color .4s;
}

.logoutBtn:hover {
  color: #eebbc3
}

.gameTitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fffffe;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px #232946;
  cursor: default;
}

#headerImg {
  margin-left: 30px;
  height: 50px;
  width: 50px;
}

main {
  height: 95%;
  width: auto;
}

.mainGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 100% / 10% 90%;
  background-image: url(../../../assets/idlegamebg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #232946;
  opacity: 85%;
}

.sidebarLabel {
  display: flex;
  align-items: center;
  color: #fffffe;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  cursor: default;
}

.sidebarItem {
  width: 100%;
  height: 50px;
  background: #232946;
  border: 0px;
  color: #fffffe;
}

.sidebarIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#noSelectedSkill {
  color: #fffffe;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.skillList {
  height: 60%;
  width: 100%;
  padding: 0;
  list-style: none;
}

.skillBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 0px;
  background: #232946;
  color: #fffffe;
  text-rendering: optimizeLegibility;
  transition: .4s ease-in-out;
}

.skillBtn:hover {
  color: #232946;
  background: #eebbc3;
  font-size: 1rem;
}

.flexGrouper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.actionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 17rem;
  width: 100%;
  cursor: pointer;
  background: #232946;
  border: 0px solid #158d6d;
  border-top: 4px solid #158d6d;
  color: #fffffe;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  transition: margin .25s;
}

.actionBtn:hover {
  margin: .3rem 0 0 .1rem;
}

.actionBtn:active {
  margin: .1rem 0 0 .1rem;
}

.woodcuttingSkillContainer {
  padding: 3rem 8rem 3rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.skillInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 1rem;
  grid-row: 1 / 1;
  grid-column: 1 / 5;
  background: #232946;
  border-top: 5px solid #158d6d;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  color: #fffffe;
  text-rendering: optimizeLegibility;
}

.innerInfoContainer {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.expColor {
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #5cace5;
}

.expBar {
  width: 99%;
  height: 10px;
  border-radius: 25px;
  background-color: #b8c1ec;
}

.progressBarContainer {
  width: 90%;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #434654;
  border-radius: 5px;
}

.progressBar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #158d6d;
}

@keyframes load{
  0%{
      width: 0%;
  }
  100%{
      width: 100%;
  }
}

#normalLogBtn {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

#oakLogBtn {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

#willowLogBtn {
  grid-row: 2 / 2;
  grid-column: 3 / 3;
}

#teakLogBtn {
  grid-row: 2 / 2;
  grid-column: 4 / 4;
}

#mapleLogBtn {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
}

#mahoganyLogBtn {
  grid-row: 3 / 3;
  grid-column: 2 / 2;
}

#yewLogBtn {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}

#magicLogbtn {
  grid-row: 3 / 3;
  grid-column: 4 / 4;
}

#redwoodLogBtn {
  grid-row: 4 / 4;
  grid-column: 1 / 1;
}

.treeImages {
  height: 100px;
  width: 100px;
}

