.shadowedContainer {
  background: #232946;
  box-shadow: 5px 5px 8px black;
  border-radius: 5px;
}

.bankContainer {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 5fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  width: 100%;
  padding: 3rem 8rem;
}

.bankMain {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.bankMainControls {
  width: 100%;
  height: 90px;
}

#bankTabsContainer {
  height: 55px;
  width: 100%;
  background: #313d50;
}

.bankInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 35px;
  width: 100%;
  background: #2a3035;
  color: #fffffe;
  font-size: .9rem;
  border-radius: 5px 5px 0px 0px;
}

.bankInfoFlex {
  display: flex;
  height: 100%;
  align-items: center;
}

.storage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  height: 100%;
  width: 100%;
  padding: 3rem 3rem;
}

.bankSecondary {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 3;
  grid-column: 2 / 2;
}

.bankSecondaryImg {
  height: 140px;
  width: 140px;
  border-radius: 10px;
}

.bankSecondaryImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background: #343c4b;
  border-radius: 10px;
  grid-row: 1 / 1 ;
  grid-column: 1 / 1;
}

#bankSelected {
  display: grid;
  grid-template-columns: 190px 190px 1fr;
  grid-template-rows: 190px 130px 1fr;
  row-gap: 5px;
  column-gap: 5px;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}

#bankSelectedNone {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313d50;
  border-radius: 10px;
  color: #fffffe;
  padding: 1rem;
  grid-row: 1 / 1;
  grid-column: 1 / 4;
}

.selectedItemQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20px;
  max-width: 100%;
  padding: 0rem 1rem;
  bottom: -10px;
  background-color: #60688a;
  color: #fffffe;
  border-radius: 10px;
}

.itemDescriptionContainer {
  padding: 1rem;
  height: 100%;
  background: #343c4b;
  color: #fffffe;
  border-radius: 10px;
  grid-row: 1 / 1;
  grid-column: 2 / 4;
}

.sellItemContainer {
  padding: .5rem 1rem;
  grid-row: 2 / 2;
  grid-column: 1 / 4;
  background: #343c4b;
  border-radius: 10px;
  color: #fffffe;
}

.sellItemFlex1 {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-between;
}

.sellItemFlex2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sellItemControls {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}

#sellBtn {
  padding: 0.5rem 1rem;
  border: 0px;
  border-radius: 8px;
  background:#e56667;
  color: #fffffe;
  font-size: 1rem;
  font-weight: 600;
  height: 100%;
}

#sellBtn:hover {
  background: #e24343;
}

.sellTextInput {
  background-color: #2a3035;
  height: 100%;
  width: 140px;
  color: #fffffe;
  padding: 0rem .6rem;
  font-size: 1rem;
}

.sellTextInput::placeholder {
  color: #fffffe;
}

.sellAllBtnContainer {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.blueBtn {
  height: 100%;
  border-radius: 8px;
  border: 0px;
  padding: 0.5rem 1rem;
  background-color: #5cace5;
  font-size: 1rem;
  font-weight: 600;
  color: #fffffe;
}

.blueBtn:hover {
  background-color: #3c9ee3;
}

.sellValueContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.bankSecondaryControls {
  width: 100%;
  height: 90px;
  min-height: 90px;
  background: #313d50;
  border-radius: 5px 5px 0px 0px;
}

.keyItemsContainer {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

.bankItem {
  position: relative;
  height: 64px;
  width: 64px;
  border: 2px solid silver;
}

.bankItemBtn {
  cursor: pointer;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: radial-gradient(#434654, #2a3035);
}

.bankItemBtn:hover {
  background: radial-gradient(#f7f721,#1d2022);
}

.bankItemImg {
  height: 36px;
  width: 36px;
}

.bankQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20px;
  max-width: 100%;
  padding: 0rem 1rem;
  bottom: -10px;
  background-color: #60688a;
  color: #fffffe;
  border-radius: 10px;
}