.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.hw100 {
  height: 100%;
  width: 100%;
}

.shadowedContainer {
  background: #232946;
  box-shadow: 5px 5px 8px black;
  border-radius: 5px;
}

#shop {
  height: 100%;
  width: 100%;
  padding: 3rem 8rem 3rem 8rem;
}

.shopCategorySelector {
  height: 75px;
  width: 100%;
  border-top: 4px solid #febb33;
}

.shopCategorySelectorInner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 60%;
}

.shopCategoryBtn {
  height: 100%;
  background-color: #232946;
  color: #fffffe;
  border: 0px;
  font-size: .9rem;
  transition: font-size .4s, color .4s;
  cursor: pointer;
}

.shopCategoryBtn:hover {
  font-size: 1.1rem;
  color: #febb33;
}

.shopCategoryImg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.shopSectionContainer {
  border-top: 4px solid #febb33;
  margin-top: 20px;
  height: 1000px;
  width: 100%;
}

.shopSectionTitle {
  display: flex;
  align-items: center;
  color: #fffffe;
  height: 5%;
  width: 100%;
  font-weight: 700;
  font-size: .9rem;
  padding: 2rem;
}

.shopGrid {
  display: grid;
  padding: 3rem 6rem;
  row-gap: 50px;
  column-gap: 50px;
  height: 95%;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.purchaseContainer {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 95%;
  color: #fffffe;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 0px;
  background-color: #232946;
  font-size: 1rem;
  box-shadow: #fffffe 0px 2px 4px 0px, #fffffe 0px 2px 16px 0px;
  transition: margin .25s;
}

.purchaseContainer:hover {
  margin: .3rem 0 0 .1rem;
  box-shadow: #febb33 0px 2px 4px 0px, #febb33 0px 2px 16px 0px;
}

.purchaseContainer:active {
  margin: .1rem 0 0 .1rem;
}

.purchaseImg {
  height: 64px;
  width: 64px;
  margin-right: 1rem;
}

.purchaseDescription {
  font-size: 1rem;
  padding: 1rem;
}

/* popup */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modalContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 500px;
  transform: translate(-50%, -50%);
  background-color: #232946;
  color: #fffffe;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.modalImg {
  height: 64px;
  width: 64px;
}

.modalBtnContainer {
  width: 50%;
  justify-content: space-evenly;
}

.buyBtn {
  border: 0px;
  background-color: #3c9ee3;
  border-radius: 10px;
  padding: 0.7rem 1.3rem;
  color: #fffffe;
  font-size: 1rem;
  font-weight: 600;
  transition: font-size .25s;
}

.buyBtn:hover {
  font-size: 1.3rem;
}

.cancelBtn {
  border: 0px;
  border-radius: 10px;
  background-color: #e56667;
  padding: 0.7rem 1.3rem;
  color: #fffffe;
  font-size: 1rem;
  font-weight: 600;
  transition: font-size .25s;
}

.cancelBtn:hover {
  font-size: 1.3rem;
}

.close-button:hover {
  background-color: darkgray;
}

.showModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}