.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.hw100 {
  height: 100%;
  width: 100%;
}

.shadowedContainer {
  background: #232946;
  box-shadow: 5px 5px 8px black;
  border-radius: 5px;
}

.fishingAreaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffe;
  border: 0px;
  font-size: 1.2rem;
  border-top: 4px solid #92d0f1;
  width: 100%;
  padding: 1.5rem 3rem;
}

.lockedAreaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffe;
  border: 0px;
  font-size: 1.2rem;
  border-top: 4px solid #da371a;
  width: 100%;
  padding: 1.5rem 3rem;
}

.fishingAreaHeader {
  display: flex;
  justify-content: space-between;
  height: 13%;
  width: 100%;
}

.fishingAreaTitle {
  font-size: 1.4rem;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  width: 35%;
  text-align: center;
}

.fishingAreaStats {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 1.1rem;
}

.fishingAreaBody {
  display: flex;
  height: 87%;
  width: 100%;
}

.leftBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 2rem;
}

.rightBody {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding-left: 4rem;
}

.fishSelector {
  width: 100%;
  height: 20%;
  margin: 10px 0;
  background-color: #5cace5;
  border: 0px;
}

.noFishSelected {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem 0rem 0rem 10rem;
}

.fishingSkillContainer {
  padding: 3rem 8rem 3rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  width: 100%;
  height: 1900px;
  max-height: 1900px;
}

.skillInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 1rem;
  grid-row: 1 / 1;
  grid-column: 1 / 3;
  background: #232946;
  border-top: 5px solid #92d0f1;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  color: #fffffe;
  text-rendering: optimizeLegibility;
}

.innerInfoContainer {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.rodType {
  background-color: #e5ae67;
  color: #232946;
  border-radius: 5px;
  padding: .3rem .5rem;
}

.expColor {
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #5cace5;
}

.expBar {
  width: 99%;
  height: 10px;
  border-radius: 25px;
  background-color: #b8c1ec;
}

.progressBarContainer {
  width: 90%;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #434654;
  border-radius: 5px;
}

.progressBar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #92d0f1;
}

.fishImages {
  height: 100px;
  width: 100px;
}

.selectedFishHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}

.fishInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  padding-left: 5.5rem;
}

.fishStats {
  
}

.selectedFishImg {
  height: 36px;
  width: 36px;
  margin-right: 3rem;
}

.lockedFishingArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lock {
  display: grid;
  place-items: center;
  background: linear-gradient(.15turn, #6d1406, #da371a);
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
}

.lockImg {
  height: 128px;
  width: 128px;
}

.lockedText {
  margin-top: 30px;
  color: #fffffe;
  font-weight: 700;
}

.lockedFish {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  color: #d56163;
  background: #232946;
}

.unlockedFish {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  background: #232946;
  border: 0px;
  color: #fffffe;
}

.unlockedFish:hover {
  background: #434654;
  cursor: pointer;
}

.fishImg {
  height: 24px;
  width: 24px;
  margin: 0rem .7rem;
}

.fishName {
  font-weight: 600;
  font-size: 1rem;
}

#saltyShore {
  grid-row: 2/2;
  grid-column: 1/1;
}

#rustyRiver {
  grid-row: 2/2;
  grid-column: 2/2;
}

#toxicTrench {
  grid-row: 3/3;
  grid-column: 1/1;
}

#lavishLake {
  grid-row: 3/3;
  grid-column: 2/2;
}