.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.hw100 {
  height: 100%;
  width: 100%;
}

.shadowedContainer {
  background: #232946;
  box-shadow: 5px 5px 8px black;
  border-radius: 5px;
}

.actionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 17rem;
  width: 100%;
  cursor: pointer;
  background: #232946;
  border: 0px;
  border-top: 4px solid #465a61;
  color: #fffffe;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  transition: margin .25s;
}

.actionBtn:hover {
  margin: .3rem 0 0 .1rem;
}

.actionBtn:active {
  margin: .1rem 0 0 .1rem;
}

.miningSkillContainer {
  padding: 3rem 8rem 3rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.skillInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 1rem;
  grid-row: 1 / 1;
  grid-column: 1 / 5;
  background: #232946;
  border-top: 5px solid #465a61;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  color: #fffffe;
  text-rendering: optimizeLegibility;
}

.innerInfoContainer {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.hpContainer {
  background-color: #d16a5c;
  color: #232946;
  border-radius: 5px;
  padding: .3rem .5rem;
}

.expColor {
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #5cace5;
}

.expBar {
  width: 99%;
  height: 10px;
  border-radius: 25px;
  background-color: #b8c1ec;
}

.progressBarContainer {
  width: 90%;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #434654;
  border-radius: 5px;
}

.progressBar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #94857a;
}

@keyframes load{
  0%{
      width: 0%;
  }
  100%{
      width: 100%;
  }
}

#runeEssenceBtn {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

#copperRockBtn {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

#tinRockBtn {
  grid-row: 2 / 2;
  grid-column: 3 / 3;
}

#ironRockBtn {
  grid-row: 2 / 2;
  grid-column: 4 / 4;
}

#coalRockBtn {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
}

#silverRockBtn {
  grid-row: 3 / 3;
  grid-column: 2 / 2;
}

#goldRockBtn {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}

#mithrilRockBtn {
  grid-row: 3 / 3;
  grid-column: 4 / 4;
}

#adamantiteRockBtn {
  grid-row: 4 / 4;
  grid-column: 1 / 1;
}

.rockImages {
  height: 100px;
  width: 100px;
}

#runiteRockBtn {
  grid-row: 4 / 4;
  grid-column: 2 / 2;
}

#dragoniteRockBtn {
  grid-row: 4 / 4;
  grid-column: 3 / 3;
}